header{
    position: fixed;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Gupter', sans-serif;
    background-color: black;
    width: 100%;
}

a { 
    color: white; 
    text-decoration: none;
} 
.pre{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 80%;
    height: 50%;
}

.links-container{
    position: relative;
    display: flex;
    gap: 85px;
    font-size: 35px;
    padding-right: 70px;

}

.people{
    position: fixed;
    padding-left: 85px;
}
.links-container a{
    text-shadow: 2px 2px 2px #000;
    transition: all .3s;
}

.links-container a:hover{
    padding: 3px 3px;
    box-sizing: border-box;
    border-bottom: 4px solid #DBC87F;
    border-radius: 5px;
}

@media (max-width: 1650px){
    .links-container{
        gap: 40px;
        transition: all 0.8s;
    }
    .people{
        padding-left: 80px;
    }
}   

@media (max-width: 1423px){
    .links-container{
        font-size: 30px;
        gap: 40px;
    }
    .people{
        padding-left: 80px;
    }
}   

@media (max-width: 1290px){
    .pep{
        display: none;
    }
    .links-container{
        display: flex;
        padding-left: 10%;
        padding-top: 500px;
        padding-bottom: 500px;
        transition: all 0.1s;
        background-color: #000;
        height: 100%;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size:  2.5rem;
        font-weight: 300;
        gap: 65px;
        transform: translate(100%);
        transition: all 1s;
    }
    .menu-burguer-container.show ~ .links-container{
        transform: translate(0);
    }
}   

@media (max-width: 1290px){
    .logo{
        height: 150px;
    }
}

@media (max-width: 420px){
    .logo{
        height: 100px;
        padding-left: 10px;
    }
    .links-container{
        font-size: 9vw;
    }
}